{% extends 'layout.html' %}

{% block title %} Exam {% endblock %}

{% block content %}

<h1 style="color:rgb(2, 16, 29)">Exam Questions</h1>
<h3></h3>
<p style="color: rgb(214, 179, 23);"> <i style="font-size:12px;">Answer each questions carefully by selecting the correct option!</i></p>

<form action="{{ url_for('exam') }}" method="post">

<div style="background-color: #ffffff; width : 100%; border-radius: 10px;">
    {% for q in questions %}
        <p style="margin-left: 10px; font-size:12px;">{{ q.id }}. {{q.question}}</p>
            <div style="margin-left: 10px; font-size:12px;">
                <input type="radio" name="{{ q.question }}" value="{{ q.optionA }}"> {{ q.optionA }}  </input><br>
                <input type="radio" name="{{ q.question }}" value="{{ q.optionB }}"> {{ q.optionB }}  </input><br>
                <input type="radio" name="{{ q.question }}" value="{{ q.optionC }}"> {{ q.optionC }}  </input><br>
                <input type="radio" name="{{ q.question }}" value="{{ q.optionD }}"> {{ q.optionD }}  </input>
            </div> <br>
    {% endfor %}
</div>

<br>
<input type="submit" value="submit" style="border-radius: 2px; background-color: rgb(6, 104, 47); 
border: none; color: white; margin-bottom: 20px; font-size:15px;">

 </form>
        
<!--
<button style="border-radius: 2px; background-color: rgb(6, 104, 47); border: none;" class="active">
        <a href="{{ url_for('login') }}" class="active" style="text-decoration: none; ">
            submit</a></button>
-->
    
{% endblock %}